<?xml version="1.0"?>
<model>
  <name>cargo_box</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Synapse AMR Team</name>
    <email>robotics@synapse.internal</email>
  </author>
  <description>Standard warehouse corrugated cardboard cargo box</description>
</model>
