<?xml version="1.0"?>
<model>
  <name>euro_pallet</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Synapse AMR Team</name>
    <email>robotics@synapse.internal</email>
  </author>
  <description>Standard industrial Euro-pallet (1200mm x 800mm x 144mm)</description>
</model>
