<?xml version="1.0"?>
<model>
  <name>pallet_rack</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Synapse AMR Team</name>
    <email>robotics@synapse.internal</email>
  </author>
  <description>Heavy-duty industrial pallet racking unit with 3 storage tiers</description>
</model>
